* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

header {
    position: relative;
    z-index: 100; /* Ensure the header is above other content */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #FF9933;
    width: 100%;
}

.logo {
    width: 150px; /* Set the logo width */
    height: auto; /* Maintain aspect ratio */
    cursor: pointer;
}
.header-text{
    font-family: "Arial Rounded MT Bold";
    font-size: xx-large;
    font-weight: bold;
}


#forgot-password{
    text-decoration: none;
    position: absolute;
    right: 23px;
    top: 69%;
}

/* Full-Screen Splash */
#splash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #FF9933, white, #138808); /* Saffron, White, Green */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 999;
    transition: opacity 1s ease-in-out;
    opacity: 1;
}


#splash.fade-out {
    opacity: 0;
    visibility: hidden;
}

#splash img {
    width: 200px; /* Adjust the size of the GIF as needed */
    margin-bottom: 20px;
}

#splash h1 {
    font-size: 5rem;
    color: #333;
    text-align: center;
}

/* Main Content */
.content {
    display: flex;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.content.show {
    opacity: 1;
}

.left-section {
    width: 75%;
    background-color: #f9f9f9;
    position: relative;
}

.right-section {
    margin-top: 10%;
    width: 25%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
}

.carousel {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.carousel img {

    width: 90%;  /* Use 80% of the carousel width */
    height: 89%; /* Use 80% of the carousel height */
    object-fit: cover; /* Maintain aspect ratio and cover available space */
    border-radius: 10px; /* Optional: Rounded corners for images */
    display: none;
}

.carousel img.show {
    display: block;
}

.carousel-text {
    text-align: center;
    position: absolute;
    bottom: 20px;
    font-size: 1.5rem;
    color: #333;
}

/* Login Form */
.login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
}

.login-form label {
    margin-top: 10px;
}

.login-form input {
    padding: 10px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    padding: 10px 20px;
    background-color: #0288D1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0277BD;
}


.voter-register-link{
    padding: 20px;

}